@using PatientDataAdministration.Web.Engines.EngineDataIntegrity
@{
    ViewBag.Title = "Data Integrity Overview";
    ViewBag.TitleDesc = "Manage Data Inconsistency and profer solutions";
    Layout = "~/Views/Shared/_LayoutSecure.cshtml";
}

<!--CASE A-->
<div class="col-md-12">
    @if (EngineDuplicateBioData.IsProcessing)
    {
        <div class="note note-info">
            <h4>Processing...</h4>
            <p>
                Biometric Duplicate Engine is Currently Running. You will be notified as Required.
            </p>
        </div>
    }
    else
    {
        if (EngineDuplicateBioData.BioDataIntegrityCases?.Any() ?? false)
        {
            <div class="note note-warning">
                <h4>Duplicate Biometric Registrations Found!</h4>
                <p>
                    The system has found some patient records with matching Biometric Registrations. The current batch count is @EngineDuplicateBioData.BioDataIntegrityCases.Count. Click <a href="@Url.Action("TreatDupBioDataDuplicates", "DataIntegrity")">here</a> to view them!
                </p>
            </div>
        }
        else
        {
            <div class="note note-success">
                <h4>All is Good Here!</h4>
                <p>
                    Biometric Duplicate Engine does not have anything to Report at the moment. Please click Refresh on the Left!
                </p>
            </div>
        }
    }
    }
</div>
<!--CASE B-->
<div class="col-md-12">
    @if (EngineDuplicatePepId.DataIntegrityPepId?.Any() ?? false)
    {
        <div class="note note-warning">
            <h4>Duplicate PepIDs Found!</h4>
            <p>
                The system has found some patient records with recurring PeP Id numbers. The current batch count is @EngineDuplicatePepId.DataIntegrityPepId.Count. Click <a href="@Url.Action("TreatPepIdDuplicates", "DataIntegrity")">here</a> to view them!
            </p>
        </div>
    }
</div>

@section scripts
{
    <script>
        pdaWeb.controller('pdaWebCtrlr',
            function ($scope) {
                
            });
    </script>
}
