
@{
    ViewBag.Title = "Dashboard";
    ViewBag.TitleDesc = "APIN PDA at a glance";
    Layout = "~/Views/Shared/_LayoutSecure.cshtml";
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-black-darker">
            <div class="stats-icon"><i class="fa fa-user-md"></i></div>
            <div class="stats-info">
                <h4>TOTAL PATIENTS</h4>
                <p>45,347</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green-darker">
            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
            <div class="stats-info">
                <h4>SEEN RECENTLY (PAST WEEK)</h4>
                <p>5,779</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue-darker">
            <div class="stats-icon"><i class="fa fa-edit"></i></div>
            <div class="stats-info">
                <h4>REGISTERED TODAY</h4>
                <p>1,245</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-red-darker">
            <div class="stats-icon"><i class="fa fa-shield"></i></div>
            <div class="stats-info">
                <h4>TOTAL VERIFICATIONS TODAY</h4>
                <p>337</p>
            </div>
            <div class="stats-link">
                <a href="javascript:;">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>
</div>