
@{
    ViewBag.Title = "Dashboard";
    ViewBag.TitleDesc = "APIN PDA at a glance";
    Layout = "~/Views/Shared/_LayoutSecure.cshtml";
}

@section styles{
    <link href="/Assets/plugins/country/nigeria/jsmaps/jsmaps.css" rel="stylesheet" type="text/css" />
}

<div class="row">
    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-black-darker">
            <div class="stats-icon"><i class="fa fa-user-md"></i></div>
            <div class="stats-info">
                <h4>TOTAL PATIENTS</h4>
                <p id="totalPatents_p">00</p>
            </div>
            <div class="stats-link">
                <a href="@Url.Action("PatientOverview", "PatientManagement", new {area = ""})">View Detail <i class="fa fa-arrow-circle-o-right"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-orange-darker">
            <div class="stats-icon"><i class="fa fa-clock-o"></i></div>
            <div class="stats-info">
                <h4>SEEN RECENTLY (PAST WEEK)</h4>
                <p id="seenPastWeek_p">00</p>
            </div>
            <div class="stats-link">
                <a>Visited at Least Once in the Past Week <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-blue-darker">
            <div class="stats-icon"><i class="fa fa-edit"></i></div>
            <div class="stats-info">
                <h4>REGISTERED TODAY</h4>
                <p id="registeredToday_p">00</p>
            </div>
            <div class="stats-link">
                <a>Total Registratons Today <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>

    <div class="col-md-3 col-sm-6">
        <div class="widget widget-stats bg-green-darker">
            <div class="stats-icon"><i class="fa fa-shield"></i></div>
            <div class="stats-info">
                <h4>PATIENTS FULLY REGISTERED</h4>
                <p id="fullyRegistered_p">00</p>
            </div>
            <div class="stats-link">
                <a>Patients have both Biometric Profiles and eCard <i class="fa fa-info"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="widget-chart with-sidebar bg-black">
            <div class="widget-chart-content">
                <h4 class="chart-title">
                    Patient Analytics
                    <small>Registration Distribution by Age Group</small>
                </h4>
                <div id="patient-age-distro" class="morris-inverse" style="height: 260px;"></div>
            </div>
            <div class="widget-chart-sidebar bg-black-darker">
                <div class="chart-number">
                    <span id="most_polulated_ag_span">00</span>
                    <small>Most Populated Age Group: <strong id="most_polulated_ag_info_span"></strong></small>
                </div>
                <div class="chart-number">
                    <span id="least_polulated_ag_span">00</span>
                    <small>Least Populated Age Group: <strong id="least_polulated_ag_info_span"></strong></small>
                </div>
                <div id="sex-distro-donut-chart" style="height: 160px"></div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-inverse" data-sortable-id="index-1">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Total Population by State
                </h4>
            </div>
            <div id="visitors-map" class="bg-black">
                <div class="jsmaps-wrapper" id="nigeria-map" style="height: 175px; width: 175px; padding: 2px">

                </div>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-inverse text-ellipsis">
                    <h5 class="text-success">State Name <strong><span id="selected_state_name_span"></span></strong></h5>
                    <p>
                        Sites:&nbsp;<span id="state_sites_span">00</span><br />
                        Total Patients:&nbsp;<span id="total_patients_span"></span><br />
                        Average Patient/Site:&nbsp;<span id="average_patient_span">00</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps-libs.js" type="text/javascript"></script>
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps-panzoom.js"></script>
    <script src="/Assets/plugins/country/nigeria/jsmaps/jsmaps.js" type="text/javascript"></script>
    <script src="/Assets/plugins/country/nigeria/maps/nigeria.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function () {
            $('#nigeria-map').JSMaps({
                map: 'nigeria',
                disableToolTip: true,
                onStateClick: stateClick
            });
        });

        function stateClick(data) {
            window.api("GET",
                "@Url.Action("StateStatsByStateAbb", "Indicators", new {area = "ServerCommunication"})?abbreviation=" + data.abbreviation,
                null,
                true,
                loadStateData);
        }

        function loadStateData(data) {
            $('#selected_state_name_span').text(data.State.StateName);
            $('#total_patients_span').text(data.PatientsInState.format());
            $('#state_sites_span').text(data.SitesInState.format());
            $('#average_patient_span').text(data.Average.format(2));
        };

        $(document).ready(function() {
            pageLoad();
        });

        function pageLoad() {
            window.api("GET",
                "@Url.Action("PatientStats", "Indicators", new {area = "ServerCommunication"})",
                null,
                true,
                loadTiles);
        };

        function loadTiles(data) {
            $('#totalPatents_p').text(data.TotalPatients.format());
            $('#seenPastWeek_p').text(data.SeenRecently.format());
            $('#registeredToday_p').text(data.RegisteredToday.format());
            $('#fullyRegistered_p').text(data.Complied.format());

            window.api("GET",
                "@Url.Action("GetAgeDistro", "Indicators", new {area = "ServerCommunication"})",
                null,
                true,
                loadPatientDistro);
        };

        function loadPatientDistro(data) {
            lineChartOneToOne("patient-age-distro",
                data.Distro,
                "Patient's in Group",
                function(index, options, content) {
                    var datum = options.data[index];
                    content =
                        "<div class='morris-hover-row-label'>Age Group " +
                        datum.x +
                        " years</div><div class='morris-hover-point' style='color: #ddd'>";
                    content += "Number of Patients:";
                    content += "" + datum.y.format() + "";
                    content += "</div >";
                    return (content);
                });

            $('#most_polulated_ag_info_span').text(data.Max.x);
            $('#most_polulated_ag_span').text(data.Max.y.format());
            $('#least_polulated_ag_info_span').text(data.Min.x);
            $('#least_polulated_ag_span').text(data.Min.y.format());

            donutChart("sex-distro-donut-chart", data.SexDistro);
        };

        pdaWeb.controller('pdaWebCtrlr',
            function($scope) {});
    </script>
}
