@{
    ViewBag.Title = "Log In";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="page-container" class="fade">
    <div class="login login-with-news-feed">
        <div class="news-feed">
            <div class="news-image">
                <img src="/assets/img/login-bg/hiv_aids_history.jpg" data-id="login-cover-image" alt="" />
            </div>
            <div class="news-caption">
                <h4 class="caption-title">
                    <img src="/Assets/img/apin-weblogo.png" height="50"/>
                </h4>
                <p>
                    APIN Public Health Initiatives Ltd/Gte: PATIENT DATA ADMINISTRATION
                </p>
            </div>
        </div>
        <div class="right-content">
            <div class="login-header">
                <div class="brand">
                    <div>
                        <img src="/assets/img/PDA_Assets.png" alt="logo" height="80">
                    </div>
                    <div style="text-align: right">
                        <small>built for APIN Public Health Initiatives Ltd/Gte</small>
                    </div>
                </div>
            </div>
            <div class="login-content">
                <div>
                    <div class="form-group m-b-15">
                        <input type="text" id="email" class="form-control input-lg" placeholder="Email Address" required />
                    </div>
                    <div class="form-group m-b-15">
                        <input type="password" id="password" class="form-control input-lg" placeholder="Password" required />
                    </div>
                    <div class="login-buttons">
                        <input type="button" id="btnLogIn" class="btn btn-success btn-block btn-lg" onclick="login()" value="Log In" />
                        <input type="button" id="btnWait" class="btn btn-warning btn-block btn-lg" style="display: none" value="Please Wait" />
                    </div>
                    <hr />
                    <p class="text-center">
                        &copy; APIN Public Health Initiatives Ltd/Gte All Rights Reserved @DateTime.Now.Year
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        function login(data) {
            if ($('#email').val() === "") {
                window.swalWarning('Please enter a valid email address');
                return;
            }

            if ($('#password').val() === "") {
                window.swalWarning('Please enter your password to this account');
                return;
            }

            swalInfo('Checking your Information. Please Wait');

            window.api("POST",
                "@Url.Action("LogIn", "Home", new {area = ""})",
                { username: $('#email').val(), password: $('#password').val() },
                true,
                processLogIn);
        }

        function processLogIn(data) {
            window.swalSuccess("The Authentication Process was Successful. Please Wait");
            setTimeout(function () {
                window.location = '@Url.Action("Index", "Home", new {area = ""})';
            }, 2000);
        };

        pdaWeb.controller('pdaWebCtrlr', function ($scope) { });

    </script>
}